$color-primary: #e1d7c1;
$color-secondary:#593f36;

$font-title:'Anton', sans-serif ;
$font-text:'IM Fell English';
$font-price : 'Roboto Mono', monospace;

$breakpoints: (
    mobile: 1024px,
    laptopM: 1440px
);